$border-color: #d5d7d8;
$main-ftcolor:#404040;
$text-l3-color:#ccc;
$date-navImg-bgcolor: #767779;
$main-color: #ea3f3f,#ffffff;
$date-main-color: nth($main-color,1);
$date-white-color: nth($main-color,2);
$date-day-bgcolor-hover: #faecec;
$date-button-bdcolor: #dddddd;
$date-button-bgcolor-hover: nth($main-color,1);

