$border-color: #d5d7d8;
$main-ftcolor:#404040;
$text-l3-color:#ccc;
$date-navImg-bgcolor: #767779;
$main-color:#419ff4,#ffffff;
$date-main-color: nth($main-color,1);
$date-white-color: nth($main-color,2);
$date-day-bgcolor-hover: #d8ecff;
$date-button-bdcolor: #dddddd;
$date-button-bgcolor-hover: #64b1f7;

